body{
    margin:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personal-img{
    width: 150px;
}

.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0  auto;
    margin-top: 50px;
    text-align: center;
    color:#2b2839;
    background:#ffafcc;
    border-bottom: 10px solid #cdb4db;

}

.hover-text:hover {
    color:#588157; 
  }
  .personal-img:hover {
    opacity: 0.5; 
  }